<h1>ENGINE::Home#index</h1>
<p>Find me in app/views/challenge/home/index.html.erb</p>

<br>

<h1 class="text-rose-600">Engine's Stimulus controller (Engine app)</h1>
....

<div data-controller="engine"></div>
___________
